.home-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/img/top-view-green-vegetables-with-copy-space.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
